@font-face {
	font-family: 'mapolice2';
	src:url('pol11.ttf');
}

@font-face {
	font-family: 'mapolice';
	src:url('pol3.otf');
}

@font-face {
	font-family: 'mapolice3';
	src:url('pol2.ttf');
}

html {
	font-family: 'mapolice2';
}

#bord {
	margin-top: -.45%;
	font-size: 180%;
	display: flex;
	background: white;
	flex-wrap: no-wrap;
	justify-content: space-around;
	margin-bottom: 0%;
	width: 100%;
	position: fixed;
}

#index {
	z-index:2;
	font-size: 120%;
	padding-top: 25%;
	padding-bottom: 25%;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-around;
}

#cv {
	z-index:2;
	font-size: 100%;
	padding-top: 10%;
	padding-bottom: 15%;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-around;
}

#cv .element2 {
	font-size: 110%;
}

#cv .element2 ul li a:visited,
#cv .element2 ul li a:focus,
#cv .element2 ul li a:link {
	background: transparent;
	color: black;
}

#serv {
	z-index:2;
	font-size: 120%;
	padding-top: 20%;
	padding-bottom: 20%;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-around;
}

#contact {
	z-index:2;
	font-size: 120%;
	padding-top: 15%;
	padding-bottom: 25%;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-around;
}

.element span:hover {
	text-decoration: overline;
}

.element strong {
	font-family: 'mapolice3';
}

.element:nth-child(1) {
	flex: 1;
	margin-left: 13%;
}

.element:nth-child(2) {
	flex: 1;
}

.element:nth-child(3) {
	flex: 1;
}

.element:nth-child(4) {
	flex: 1;
}

.element:nth-child(5) {
	flex: 1;
}

.element2 {
	text-align: left;
	margin-left: 2%;
}

.element2:nth-child(1) {
	flex: 1;
}

.element2:nth-child(2) {
	flex: 1;
}

.element2:nth-child(3) {
	flex: 1;
}

.element a:visited,
.element a:link {
	color: black;
	text-decoration: none;
}

.element a:focus {
	opacity: .5;
	text-decoration-color: rgba(255, 255, 255, .5);
}

.dlbt {
	border: 1px solid black;
	width: 25%;
	height: auto;
	text-align: center;
}

.dlbt a:visited,
.dlbt a:focus,
.dlbt a:link {
	text-decoration: none;
	color: black;
}

.dlbt:hover {
	animation: btn 1s infinite alternate;
}

@keyframes fondu {
    0% {color: white;}
    16,5% {color: red;}
	33% {color: white;}
	49,5% {color: red;}
	66% {color: white;}
	82,5% {color: red;}
	100% {color: white;}
}

@keyframes btn {
	from {background: white;}
	to {background-color: #BDBDBD;}
}

@media only screen and (max-device-width:980px) {
 body {
 font-size:100%;
 }
	#bord {
		font-size: 100%;
		margin-top: -1%;
	}
	.element:nth-child(1) {
		flex: 1;
		margin-left: 5%;
	}
	#index {
		padding-top: 80%;
		padding-bottom: 80%;
	}
	#cv {
		padding-top: 20%;
		padding-bottom: 10%;
		font-size: 100%;
	}
	#serv {
		padding-top: 50%;
		padding-bottom: 30%;
	}
	#contact {
		padding-top: 60%;
		padding-bottom: 60%;
	}
}
